.mainImage {
  height: 78vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eee;
  margin-bottom: $spacing-xl;
}

.mainPreTitle {
  font-size: 50%;
  color: black;
  display: block;
  padding: $spacing-s 0;
}

.mainTitle {
  font-weight: 100;
  font-size: 5em;
  line-height: 0.9;
}

.mainDescription {
  h4, h5 {
    margin-top: $spacing-l;
    margin-bottom: $spacing-s;
  }

  h4:first-child, h5:first-child {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
    list-style-type: none;
  }

  li {
    font-size: 110%;
  }

  li::before {
    content: '- '
  }
}

p {
  font-size: 130%;
  font-weight: 100;
  margin-bottom: $spacing-s;
}

p:last-child, h1:last-child {
  margin-bottom: 0;
}

.container-border {
  padding-left: $spacing-l;
  border-left: 1px solid black;
  margin-bottom: $spacing-l;
}

.container {
  margin-bottom: $spacing-xl;

  img {
    width: 100%;
  }
}

#Vendors .container {
  img {
    height: 100px;
    width: auto;
    margin-top: $spacing-xl;
  }
  h4 {
    margin-top: $spacing-s;
  }
}

form {
  margin: 0;

  input, textarea {
    border: none;
    border-bottom: 1px solid black;
    opacity: 0.8;
    transition: border 0.2s, opacity 0.2s;
    padding: 5px;
  }

  input:focus, textarea:focus {
    outline: none;
    opacity: 1;
    border-bottom: 1px solid $rosewood;
  }

  textarea {
    resize: none;
  }

  button {
    border-radius: 0;
    border-color: black;
  }
}

.construction {
  margin-top: $header-height * 1.5;

  img {
    width: 80px;
    margin-bottom: $spacing-l;
  }

  .container  {
    margin-bottom: 30vh;
  }
}

.basicPage, .features {
  a {
    color: $rosewood;
    text-decoration: underline;
  }

  p:last-child {
    margin-bottom: $spacing-s;
  }

  h4 {
    margin-bottom: $spacing-s;
  }

}

.centerPhotoBack {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  transition: opacity 0.5s;
}

.centerPhotoBack.inactive {
  pointer-events: none;
}

.centerPhotoBack.active {
  opacity: 1;
  pointer-events: auto;
}

.centerPhoto {
  position: absolute;
  z-index: 101;
  width: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery-photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -30px;

  .gallery-image {
    flex: 1 0 300px;
    margin: 15px;
    height: 260px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
    transition: box-shadow 0.25s ease-in-out;
  }

  .gallery-image-child {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.25s ease-in-out;
    cursor: pointer;
  }

  .gallery-image:hover .gallery-image-child {
    transform: scale(1.08);
  }

  .gallery-image:hover {
    -webkit-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.4);
  }
}

@media (max-width: $small-screen) {
  .mainImage {
    height: 64vh;
    margin-bottom: $spacing-l;
  }

  .mainTitle {
    font-size: 3.3em;
  }

  .columns div {
    margin-bottom: $spacing-l;
  }

  .centerPhoto {
    width: 100vw;
  }

  .container-border {
    border-left: none;
  }
}
