@import url('https://fonts.googleapis.com/css?family=Khula:300,400,700');

$rosewood: #cc3300;
$grey: #f8f8f8;

$spacing-xl: 60px;
$spacing-l: 30px;
$spacing-m: 20px;
$spacing-s: 10px;

$header-height: 90px;

$small-screen: 960px;

@import 'Header';
@import 'Body';
@import 'Footer';
@import 'Loading';

.rosewood {
  color: $rosewood;
}

.u-caps {
  text-transform: uppercase;
}

.u-center {
  text-align: center;
}

::selection {
  background: #eee;
}
